* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

.book-form, .book-form .overlay, .books .book .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.row {
  display: flex;
  flex-direction: row; }

.column {
  display: flex;
  flex-direction: column; }

header {
  justify-content: space-between;
  padding: 2em 4em; }
  header .new-book-btn {
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    background-color: #007e80;
    transition: .25s;
    color: white; }
    header .new-book-btn:hover {
      cursor: pointer;
      background-color: #005264; }

.closed-book-form {
  display: none; }
  .closed-book-form form {
    display: none; }

.book-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4em 0; }
  .book-form .overlay {
    background-color: #00be6c;
    opacity: .5;
    z-index: 1; }
  .book-form .form-holder {
    width: 50%;
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 4em 2em;
    z-index: 2; }
  .book-form .close-button {
    position: absolute;
    right: 15px;
    top: 10px; }
    .book-form .close-button button {
      border: none;
      background-color: white;
      cursor: pointer; }
  .book-form .close-icon {
    font-size: 1.5em;
    color: salmon;
    cursor: pointer;
    transition: .25s; }
    .book-form .close-icon:hover {
      color: #ff604e; }
  .book-form form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-top: 1em;
    box-sizing: border-box; }
    .book-form form input {
      font-size: 1em;
      border: 0.5px solid rgba(194, 194, 194, 0.462); }
    .book-form form p, .book-form form input {
      width: 100%;
      padding: .5em 0 .5em .4em;
      border-radius: 5px; }
    .book-form form input[type='submit'] {
      background-color: #007a80;
      color: white;
      transition: .25s; }
      .book-form form input[type='submit']:hover {
        background-color: #00494d;
        cursor: pointer; }

.books {
  flex-wrap: wrap;
  width: 100%;
  padding: 1em 2em; }
  .books .column {
    align-items: flex-start;
    margin-right: .5em;
    width: 20%; }
  .books .book-details {
    font-family: 'Courier New', Courier, monospace;
    font-size: .8em; }
    .books .book-details span {
      color: #3f3f3f;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  .books .book {
    width: 50%;
    height: 200px;
    box-shadow: 0 0 5px 0.1px #a8a8a8;
    border-radius: 5px;
    background-image: url("../images/1.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1em 2em;
    background-position: center;
    position: relative; }
    .books .book .column {
      align-items: center;
      justify-content: center; }
    .books .book .delete-icon {
      transition: .25s; }
      .books .book .delete-icon:hover {
        cursor: pointer;
        color: #a3a3a3; }
    .books .book .mark-as-read {
      border: none;
      padding: .5em 2em;
      margin-top: 1em;
      border-radius: 5px;
      background-color: #007380;
      color: white;
      transition: .25s; }
      .books .book .mark-as-read:hover {
        background-color: #005458;
        cursor: pointer; }
    .books .book:hover .overlay {
      display: flex;
      justify-content: center;
      align-items: center; }
    .books .book .overlay {
      background-color: rgba(22, 22, 22, 0.435);
      display: none;
      animation: display .25s ease-in-out;
      font-size: 2em;
      color: white; }
    .books .book .book-field {
      margin-bottom: 1em; }

/*# sourceMappingURL=index.css.map */
